/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: cursive;
}

/* Pozicionálás */
.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}
.name-headline {
  letter-spacing:0.02em;
  margin-top:10px;
  font-size:18px;
}

span {
  font-size: 14px;
}

h2 {
    font-weight: normal;
}

p {
  letter-spacing:0.05em;
  margin-top:10px;
  font-size:18px;
}

.about {
  letter-spacing:0.05em;
  margin-top:5px;
  font-size:18px;
  text-align:justify;
}

img {
  width: 130px;
  height: 130px;
  border-radius: 10%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}

.profile-image {
  margin-top: 20px;
}

/* Contact links */
ul {
  list-style-type: none;
  font-size: 1.1em;
  padding: 10px;
}
li {
  display: inline;
}

.head, .about {
  margin-bottom: 3%;
  font-size: 16px;
  font-weight:500;
}
.content {
  padding: 2% 2%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

body {
  background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 20px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  margin-top: -100px;
  width: 100%;
}
/* Links inside the navbar */
.navbar a {
  float: right;
  display:block;
  color: blue;
  text-align: center;
  padding: 30px 42px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

/* Change background on mouse-over */
.navbar a:hover {
  color: black;
  transform: scale(1.1);
  filter: grayscale(20%);
}

.codeberry {
  color:blue;
  text-decoration: none;
}
.codeberry:hover {
  color: black;
  transform: scale(1.1);
  filter: grayscale(20%);
}